<!--Images show-->
<% include ../partials/header %>
</div>
</header>

<div class = "container">
    <div class= "row">
        <div class = "col-md-3">
            <p class="lead">images</p>
            <div class="list-group">
                <!--active: creates blue color-->
                <li class = "list-group-item active">Info 1</li>
                <li class = "list-group-item">Info 1</li>
                <li class = "list-group-item">Info 1</li>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class = "thumbnail">
                <img class = "img-responsive" src="<%= image.image %>">
                <div class = "caption">
                    <!--<h4 class="pull-right">$10/person</h4>-->
                    <h4><a><%= image.name %></a></h4>
                    <p><%= image.ingredient %></p> 
                    <!--<p>-->
                    <!--</p>-->
                    <!--if(foundImage.author.id.equals(req.user._id)){-->
                    <% if(currentUser && currentUser.isAdmin){  %>
                        <a class="btn btn-xs btn-warning" href="/images/<%= image._id %>/edit">Edit</a>
                        <form id="delete-form" action="/images/<%=image._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <!--well: creates brown background-->
        </div>
    </div>
    
</div>
<script>
  function initMap() {
    var lat = <%= image.lat %>;
    var lng = <%= image.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= image.name %><br />
      <%= image.location %></strong>
      <p><%= image.ingredient %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQmrJ_ivzIOPWIWq1IZVuF4ZptwEoXI7Q&callback=initMap"></script>





<% include ../partials/footer %>